<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

## Imports

Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [15]:
data = pd.read_csv('exchange_rates.csv')
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json

   Unnamed: 0         Rates
0         AUD      1.297088
1         BGN      1.608653
2         BRL      5.409196
3         CAD      1.271426
4         CHF      0.886083
5         CNY      6.483139
6         CZK     21.510117
7         DKK      6.119757
8         EUR      0.822504
9         GBP      0.732398
10        HKD      7.752509
11        HRK      6.222652
12        HUF    294.135549
13        IDR  14097.902616
14        ILS      3.281132
15        INR     73.011186
16        ISK    129.133081
17        JPY    103.791742
18        KRW   1105.839776
19        MXN     19.932966
20        MYR      4.043017
21        NOK      8.497121
22        NZD      1.393733
23        PHP     48.070406
24        PLN      3.732933
25        RON      4.008883
26        RUB     74.930827
27        SEK      8.292071
28        SGD      1.328261
29        THB     30.009870
30        TRY      7.418572
31        USD      1.000000
32        ZAR     15.118441

## Extract

### JSON Extract Function

This function will extract JSON files.

In [42]:
def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

In [43]:
data = extract_from_csv('exchange_rates.csv')

In [47]:
data.columns = ['Name', 'Rates']
display(data)

   Name         Rates
0   AUD      1.297088
1   BGN      1.608653
2   BRL      5.409196
3   CAD      1.271426
4   CHF      0.886083
5   CNY      6.483139
6   CZK     21.510117
7   DKK      6.119757
8   EUR      0.822504
9   GBP      0.732398
10  HKD      7.752509
11  HRK      6.222652
12  HUF    294.135549
13  IDR  14097.902616
14  ILS      3.281132
15  INR     73.011186
16  ISK    129.133081
17  JPY    103.791742
18  KRW   1105.839776
19  MXN     19.932966
20  MYR      4.043017
21  NOK      8.497121
22  NZD      1.393733
23  PHP     48.070406
24  PLN      3.732933
25  RON      4.008883
26  RUB     74.930827
27  SEK      8.292071
28  SGD      1.328261
29  THB     30.009870
30  TRY      7.418572
31  USD      1.000000
32  ZAR     15.118441

In [48]:
display(data[data['Name']=='GBP'])

  Name     Rates
9  GBP  0.732398

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [55]:
def transform(data):
    # Write your code here
    data['Rates'] = round(0.75 * data['Rates'], 3)
    data.rename(columns={'Rates': 'Market Cap (GBP$ Billion)'}, inplace=True)
    return data

transformed_data = transform(data)
display(transformed_data)

   Name  Market Cap (GBP$ Billion)
0   AUD                      0.548
1   BGN                      0.678
2   BRL                      2.282
3   CAD                      0.537
4   CHF                      0.374
5   CNY                      2.734
6   CZK                      9.075
7   DKK                      2.582
8   EUR                      0.347
9   GBP                      0.309
10  HKD                      3.270
11  HRK                      2.625
12  HUF                    124.089
13  IDR                   5947.552
14  ILS                      1.384
15  INR                     30.801
16  ISK                     54.478
17  JPY                     43.787
18  KRW                    466.526
19  MXN                      8.409
20  MYR                      1.706
21  NOK                      3.585
22  NZD                      0.588
23  PHP                     20.280
24  PLN                      1.575
25  RON                      1.691
26  RUB                     31.611
27  SEK                      3.498
28  SGD                      0.560
29  THB                     12.660
30  TRY                      3.130
31  USD                      0.422
32  ZAR                      6.378

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [46]:
def load(target_file, data_to_load):
    # Write your code here
    data_to_load.to_csv(target_file, index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [33]:
def log(message):
    # Write your code here
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [34]:
# Write your code here
log("ETL Job Started")
log("Extract phase Started")

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [38]:
# Call the function here
extracted_data = extract()
# Print the rows here
extracted_data.head()

                               Name  Market Cap (US$ Billion)
0   Banco Bilbao Vizcaya Argentaria                    60.678
1                   Japan Post Bank                    60.525
2       The Bank of New York Mellon                    59.823
3  Shanghai Pudong Development Bank                    58.796
4           Industrial Bank (China)                    57.388

Log the data as <code>"Extract phase Ended"</code>

In [36]:
# Write your code here
log("Extract phase Ended")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [39]:
# Write your code here
log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [40]:
# Call the function here
transformed_data = transform(extracted_data)
# Print the first 5 rows here
transformed_data.head()

                               Name  Market Cap (GBP$ Billion)
0   Banco Bilbao Vizcaya Argentaria                     45.508
1                   Japan Post Bank                     45.394
2       The Bank of New York Mellon                     44.867
3  Shanghai Pudong Development Bank                     44.097
4           Industrial Bank (China)                     43.041

Log your data <code>"Transform phase Ended"</code>

In [41]:
# Write your code here
log("Transform phase Ended")

### Load

Log the following `"Load phase Started"`.

In [42]:
# Write your code here
log("Load phase Started")

Call the load function

In [47]:
# Write your code here
load('market_cap.csv', transformed_data)

Log the following `"Load phase Ended"`.

In [48]:
# Write your code here
log("Load phase Ended")

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright  2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).